<!DOCTYPE html>
 <html lang="en">
    <head>
        <!-- Meta tags -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="title icon" type="image/png" href="images/title-img.png"/>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

        <!-- fontawesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

        <!-- Title -->
        <title>Pure Bootstrap Website</title>

        <!-- Style sheet -->
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <!-- Cards -->
        <section class="bg-secondary py-4 cover-page">
            <div class="container-fluid">
                <div class="container main-content">
                    <!-- Title -->
                    <div class="row text-white text-center">
                        <div class="col">
                            <h1 class="display-3 mb-4">Welcome</h1>
                        </div>
                    </div>
                    <!-- End of Title -->
        
                    <!-- Cards -->
                    <div class="row">
                        <div class="col-lg-4 col-sm-6 my-5">
                            <div class="card border-0 card-shadow">
                                <img src="images/pure-bootstrap.jpeg" class="card-img" alt="card-image-nature-1">
                                <div class="card-img-overlay">
                                    <h5 class="heading text-white text-uppercase font-weight-bold p-2">Pure Bootstrap</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 my-5">
                            <div class="card border-0 card-shadow">
                                <img src="images/admin.jpeg" class="card-img" alt="card-image-nature-1">
                                <div class="card-img-overlay">
                                    <h5 class="heading text-white text-uppercase font-weight-bold p-2">Admin Dashboard</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 my-5">
                            <div class="card border-0 card-shadow">
                                <img src="images/photo-x.jpeg" class="card-img" alt="card-image-nature-1">
                                <div class="card-img-overlay">
                                    <h5 class="heading text-white text-uppercase font-weight-bold p-2">Photo X</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End of Cards -->
                </div>
            </div>
        </section>
        <!-- End of Cards -->

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    </body>
</html>