body {
    min-width: 365px;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.5)),
                      url('../images/bg.jpg') repeat center center /cover;
}

.main-content {
    max-width: 95%;
}

.heading-font {
    font-family: 'ZCOOL KuaiLe', cursive;
}

/* Cards */

.card-font {
    font-family: 'Indie Flower', cursive;
}

.heading {
    position: absolute;
    top: 70%;
    right: 0;
    font-size: 14px;
    letter-spacing: 1px;
    background-color: #222;
    width: 70%;
    cursor: pointer;
    opacity: 0.7;
    transition: all .5s;
}

.heading:hover {
    opacity: 1;
}

/* End of Cards */